.searchbar{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 0.75;
    padding-left: 15px;
    text-decoration: rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

.search{
    border-radius: 100px;
    width: 500px;
    height: 50px;
    margin: 20px 0px 20px 0px;
}

.search :hover{
    box-shadow: 0 1px 6px rgba(23, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}

.squares{
    color: black;
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-size: 528px 68px;
    background-position: -132px -38px;
    background-position-x: -132px;
    background-position-y: -38px;
    background-size: 528px 68px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: inline-block;
font-family: arial, sans-serif;
font-size: 13px;
height: 30px;
line-height: normal;
opacity: 0.55;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
text-align: left;
text-decoration: rgb(0, 0, 0);
text-decoration-color: rgb(0, 0, 0);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
vertical-align: middle;
white-space: nowrap;
width: 30px;
}

.search-button{
    background-color: #f2f2f2;
border: 1px solid #f2f2f2;
border-radius: 4px;
color: #5F6368;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
}

.ImFeelingLucky{
    background-color: #f2f2f2;
border: 1px solid #f2f2f2;
border-radius: 4px;
color: #5F6368;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;

}

.buttons{
    text-align: center;
   
}

html, body {
    height: 100%;
  }
  
.body{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.center-logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}

.signin{
    padding: .55em 1em .55em .95em;
    background-color: rgb(65, 133, 211);
    color:rgb(255, 255, 255);
    border-style: none;
    border-radius: 2.5px;
    font-weight: 800;
    font-size: 13px;
}



.main-nav {
    display: flex;
    margin-right: 10px;
}
    
.push {
    margin-left: auto;
}

li{
    padding: 10px;
}

.footer-bar
    {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgb(240, 240, 240);
    }

    .country {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 4.4em;
        float: left;
        align-items: center;
        font-size: 14px;
        width: auto;
        margin: 0 0 12px 30px;
    }

.footer1 {
    display: grid;
    grid-template-columns: 2.5em 1.55em 15em;
    column-gap: 4.4em;
    float: left;
    align-items: center;
    font-size: 14px;
    width: auto;
    margin: 0 0 12px 30px;
}

.footer2 {
    display: grid;
    grid-template-columns: 1.18fr 1fr 1fr;
    column-gap: 1em;
    float: right;
    align-items: center;
    font-size: 14px;
    width: auto;
    margin: 0 30px 0 0;
}